<h1>My Ruby Blog</h1>

<% @posts.each do |post| %> 

	<h2><%= link_to post.title, post %></h2>
	<p><%= post.content %></p>
	<p><%= link_to "Edit", edit_post_path(post) %></p>
	<p><%= link_to "Delete", post, :data => {:confirm => "Are you sure?"}, :method => :delete %></p>

<% end %>

<p><%= link_to "Add new Post", new_post_path %></p>